modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Launcher"

[[workflows.workflow]]
name = "Launcher"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:launcher"
waitForPort = 5000

[[ports]]
localPort = 3000
externalPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33529
externalPort = 6000

[[ports]]
localPort = 35075
externalPort = 3002

[[ports]]
localPort = 35765
externalPort = 8000

[[ports]]
localPort = 35861
externalPort = 8081

[[ports]]
localPort = 35945
externalPort = 8080

[[ports]]
localPort = 38143
externalPort = 5173

[[ports]]
localPort = 42057
externalPort = 6800

[[ports]]
localPort = 42411
externalPort = 3001

[[ports]]
localPort = 43257
externalPort = 8008

[[ports]]
localPort = 44857
externalPort = 4200

[[ports]]
localPort = 45511
externalPort = 3003

[[ports]]
localPort = 46337
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "preview:5000"]
build = ["npm", "run", "build:launcher"]
